@font-face {
   font-family: "Roobert ENEL Bold";
   src: url("fonts/Roobert ENEL Bold.woff") format("woff"), url("fonts/Roobert ENEL Bold.eot") format("embedded-opentype"), url("fonts/Roobert ENEL Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Sora";
   src: url("fonts/Sora Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Bebas Neue Bold";
   src: url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.eot") format("embedded-opentype"), url("fonts/BebasNeueBold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.eot") format("embedded-opentype"), url("fonts/Montserrat-Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Roobert ENEL Light";
   src: url("fonts/Roobert ENEL Light.woff") format("woff"), url("fonts/Roobert ENEL Light.eot") format("embedded-opentype"), url("fonts/Roobert ENEL Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}